*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.body-modal-window{
    overflow-y: hidden;
}

.modal-window-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, .5);
}

.modal-window{
    display: block;
    min-width: 800px;
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    top: 50px;
    left: calc(50% - 400px);
    background-color: #d3d2d2;
}

#close-btn{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 25px;
    height: 25px;
    opacity: 0.5;
    color: #000;
    font-size: 20px;
    padding: 0;
}

#close-btn:hover {
    opacity: 0.7;
}